customer feedback.json
{
  "name": "customer feedback",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Feedback form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Enter your Name here",
              "requiredField": true
            },
            {
              "fieldLabel": "e-mail",
              "fieldType": "email",
              "placeholder": "Enter your mail",
              "requiredField": true
            },
            {
              "fieldLabel": "Feedback",
              "placeholder": "share your feedback",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1140,
        200
      ],
      "id": "7673de01-06c5-430c-bd99-97264bf37960",
      "name": "feedback sumbission",
      "webhookId": "64dfe326-81c7-4880-ad3c-c5589fe3d941"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hello Your role is to determine the feedback filled by the customer it is a Complain,or a Compliment , or a Feature Addition Request \nThe feedback is: {{ $json.Feedback }}\nYour response should be one from below \nYour response should only one from below:\n1) Complain\n2) Compliment\n3) Feature Addition Request\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -820,
        325
      ],
      "id": "cb19b1d0-7f7a-4f4d-81be-c73a630cb735",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -740,
        545
      ],
      "id": "44d20449-1572-4078-a07f-e493e468b96a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wtEkU8CBLYUELXGi",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -460,
        200
      ],
      "id": "5606c8d8-4eb1-49d9-93dd-aeb26efe3a49",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Complain",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "cf6e4699-4e22-4ef1-af87-31ba0fca7a22"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "58abf31a-1891-4839-9c1e-59b11dcd20e9",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Compliment",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fcb65508-b819-43a4-aa1f-9ef79789c52e",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Feature Addition Request",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -240,
        200
      ],
      "id": "862b1b9c-78b4-4727-8dce-c26d48144745",
      "name": "Switch",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "sendTo": "={{ $('Merge').item.json['e-mail'] }}",
        "subject": "We’ve Received Your Complaint – Thank You for Reaching Out.",
        "emailType": "text",
        "message": "=Dear [{{ $('feedback sumbission').item.json.Name }}],\n\nThank you for taking the time to share your feedback with us.\n\nWe’re sorry to hear that your experience didn’t meet expectations. Please know that we take all concerns seriously, and your complaint has been forwarded to the relevant team for review. We are currently looking into the issue and will work toward a resolution as quickly as possible.\n\nYour input is valuable in helping us improve our service, and we appreciate you bringing this to our attention.\n\nIf you have any additional details to share or further questions, feel free to reply to this email.\n\nWarm regards,\nCustomer Experience Team\n[Lavish Ai agent]",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        200,
        0
      ],
      "id": "8506af5d-50fa-43c1-8cd7-669d832afd65",
      "name": "Reply to customer for complaint",
      "webhookId": "b1f55e14-0edb-4f67-a1f7-85646172a237",
      "credentials": {
        "gmailOAuth2": {
          "id": "FtX6rezU8m3wqtX4",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Merge').item.json['e-mail'] }}",
        "subject": "Hey we have recieved your feature suggestion",
        "emailType": "text",
        "message": "=Dear [{{ $('feedback sumbission').item.json.Name }}],\nThank you for sharing your suggestion regarding our product features.\n\nWe truly appreciate customers like you who take the time to help us improve. Your input has been noted and shared with our product development team for review. While we can’t guarantee immediate changes, please know that all suggestions are carefully considered as we plan future updates.\n\nYour feedback plays an important role in shaping a better experience for all our users.\n\nThanks once again for your valuable insight.\n\nWarm regards,\n[Lavish]\nCustomer Experience Team\n[Lavish Ai Agent]\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        200,
        400
      ],
      "id": "f14f7c63-b168-4e61-ab04-007ab71e803a",
      "name": "Reply customer to suggesting an feature",
      "webhookId": "b1f55e14-0edb-4f67-a1f7-85646172a237",
      "credentials": {
        "gmailOAuth2": {
          "id": "FtX6rezU8m3wqtX4",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app7tczVJxKey59QV",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://airtable.com/app7tczVJxKey59QV"
        },
        "table": {
          "__rl": true,
          "value": "tbl6YYQvptEKcHh1G",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app7tczVJxKey59QV/tbl6YYQvptEKcHh1G"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "e-mail",
              "displayName": "e-mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -20,
        200
      ],
      "id": "cadb16c1-e1c3-4b64-ab8d-0c852a9d29f5",
      "name": "Compliment record in air table",
      "credentials": {
        "airtableTokenApi": {
          "id": "f02iRSt0a3eVQeDF",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app7tczVJxKey59QV",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://airtable.com/app7tczVJxKey59QV"
        },
        "table": {
          "__rl": true,
          "value": "tbl6YYQvptEKcHh1G",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app7tczVJxKey59QV/tbl6YYQvptEKcHh1G"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "e-mail": "={{ $json['e-mail'] }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "e-mail",
              "displayName": "e-mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -20,
        400
      ],
      "id": "7451e694-0f80-4b58-a77c-4e3bb132ba15",
      "name": "features record in air table",
      "credentials": {
        "airtableTokenApi": {
          "id": "f02iRSt0a3eVQeDF",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app7tczVJxKey59QV",
          "mode": "list",
          "cachedResultName": "customer",
          "cachedResultUrl": "https://airtable.com/app7tczVJxKey59QV"
        },
        "table": {
          "__rl": true,
          "value": "tbl6YYQvptEKcHh1G",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app7tczVJxKey59QV/tbl6YYQvptEKcHh1G"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "e-mail": "={{ $('Merge').item.json['e-mail'] }}",
            "Feedback": "={{ $('Merge').item.json.Feedback }}",
            "Name": "={{ $('Merge').item.json.Name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "e-mail",
              "displayName": "e-mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -20,
        0
      ],
      "id": "035f191b-3eb8-4b5e-93f0-201463623a15",
      "name": "Complaint added in air table",
      "credentials": {
        "airtableTokenApi": {
          "id": "f02iRSt0a3eVQeDF",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('feedback sumbission').item.json['e-mail'] }}",
        "subject": "Hey we have recieved your complement",
        "emailType": "text",
        "message": "=Dear {{ $('feedback sumbission').item.json.Name }}  Thank you for your kind words and positive feedback!  It truly means a lot to us when our customers take the time to share their appreciation. Compliments like yours motivate our entire team to continue striving for excellence and delivering the best possible experience.  We're thrilled to know that our efforts made a difference for you, and your encouragement inspires us to keep getting better.  If there's ever anything more we can do to support you, please don’t hesitate to reach out.  \nWarm regards,\n[Lavish]  \nCustomer Experience Team \n[Lavish AI Agent]",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        200,
        200
      ],
      "id": "ebf99636-6bf8-4fdd-83ac-b73a1abbd740",
      "name": "Reply customer for complement",
      "webhookId": "2fb77b47-e6fa-4222-b9c4-13e99ef48cd3",
      "credentials": {
        "gmailOAuth2": {
          "id": "FtX6rezU8m3wqtX4",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "feedback sumbission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Complaint added in air table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compliment record in air table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "features record in air table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliment record in air table": {
      "main": [
        [
          {
            "node": "Reply customer for complement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "features record in air table": {
      "main": [
        [
          {
            "node": "Reply customer to suggesting an feature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complaint added in air table": {
      "main": [
        [
          {
            "node": "Reply to customer for complaint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "63445de5-0f0a-46a8-8979-e61596311e14",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c43e22d92b836bc966b62f26ecec74e816f6171137b78a7576518472d634cf4"
  },
  "id": "tcfINYMX1R6gi0Fw",
  "tags": []
}